<form method="POST" action="/new">
    <label for="messageUser">Name: </label>
    <input type="text" name="messageUser" id="messageUser" required>
    <label for="messageText">Message: </label>
    <input type="text" name="messageText" id="messageText" required>
    <button type="submit">Submit</button>
 </form>